/* Styles for devices wider than 600px */
@media (min-width: 601px) {
    .container {
        width: 80%;
    }

    .header {
        padding: 20px 0;
        font-size: 24px;
    }
}

/* Styles for devices wider than 900px */
@media (min-width: 901px) {
    .container {
        width: 70%;
    }

    .header {
        padding: 30px 0;
        font-size: 28px;
    }
}

/* Styles for devices in landscape orientation */
@media (orientation: landscape) {
    .header {
        background-color: #333;
        font-size: 32px;
    }
}

/* Styles for devices in portrait orientation */
@media (orientation: portrait) {
    .header {
        background-color: #4CAF50;
        font-size: 24px;
    }
}

/* Styles for mobile devices only */
@media (max-width: 600px) {
    .header {
        font-size: 18px;
        padding: 10px 0;
    }
}

.form_container{
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 8px;
}
.form_box{
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    margin-top: 10px;
}
.form_box label {
    display: block;
    margin-bottom: 10px;
}
.form_box button {
    background-color: rgb(63, 63, 88);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;

}
.form_box button:hover{
    background-color: black;
}
